body{
    background: url(https://images.unsplash.com/photo-1525362081669-2b476bb628c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)center no-repeat;
    background-size: cover;

}
#title{
    font-family: 'Rubik Spray Paint', cursive;
    color: rgb(14, 252, 14);
    font-size: larger;
    font-weight: lighter;
    margin-left: 5%;
}